.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.clients__title {
  font-size: 36px;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: space-between;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;

  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}

.clients__logo {
  fill: $icon-fill;
  .clients__link:hover &,
  .clients__link:focus & {
    fill: $accent-color;
  }
}
