.features {
  text-align: left;
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  list-style: none;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: space-between;
}

.features__item {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features__characteristic {
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: $title-color;
  margin-bottom: 10px;
}

.features__description {
  font-weight: 400;
  line-height: 1.714;
  color: $text-color;
}

.features__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: rgba(245, 244, 250, 1);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__icon {
  width: 70px;
  height: 70px;
}
