.header {
  font-family: $main-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-align: left;
  color: $title-color;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(236, 236, 236, 1);

  & .container {
    display: flex;
    align-items: center;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
}

.navigation__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header .logo {
  margin-right: 70px;
}

.navigation__link {
  color: $title-color;
  transition: color 250ms $timing-function;
  &--active {
    color: $accent-color;
    &::after {
      display: block;
      box-sizing: border-box;
      content: '';
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $accent-color;
      transform: translateY(32px);
    }
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header .address {
  margin-left: auto;
}
.address {
  font-style: normal;
}

.address__list {
  display: flex;
  align-items: center;
}

.address__item:not(:last-child) {
  margin-right: 50px;
}
.address__icon {
  margin-right: 10px;
}
.address__link {
  display: flex;
  align-items: center;
  color: $text-color;
  transition: color 250ms $timing-function, fill 250ms $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}
